spring:
  application:
    name: auth
  liquibase:
    enabled: true
  datasource:
    url: jdbc:postgresql://localhost:5433/online-shop
    username: postgres
    password: 503812
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect